html {
    margin: 0px;
    padding: 0px;
    border: 0px;
}

body {
    margin: 0px;
    padding: 0px;
    border: 0px;
    /* background-image: url("mangaSpeed.jpg"); */
    background-color: rgb(0, 0, 0);
    color:rgb(151, 146, 137);

}

#background {
    width: 100%; 
    height: 100%; 
    position: absolute; 
    left: 0px; 
    top: 0px; 
    z-index: -1;
}

.stretch {
    width:100%;
    height:100%;
}

h1 {
    text-align: center;
}
h2 {
    text-align: center;
}
p {
    text-align: center;
}
.green {
    background-color:rgb(144, 238, 144);
}

.gray {
    background-color:rgb(11, 13, 14);
}

.yellow {
    background-color:rgb(240,230,140);
}
.dark {
    background-color:rgb(11, 13, 14);
    color:rgb(7, 119, 153);
}
.light {
    background-color:rgb(211, 211, 211);
    color:rgb(0, 0, 0);
}

.but {
    border-color: #3c362b;
    /* color:rgb(0, 0, 0); */
    
    /* background-color:rgb(144, 238, 144); */
    /* background-color:rgb(240,230,140); */ 
    
    height:5rem;
    width:5rem;
    font-size: 4rem;
    text-align: center;
    /* border-radius: 1rem; */

}
.but:hover {
    cursor: pointer;

}

.fakebut {

    background-color:rgb(0, 0, 0);
    /* background-color:rgb(144, 238, 144); */
    /* background-color:rgb(240,230,140); */ 
    
    height:5rem;
    width:5rem;
    font-size: 4rem;
    text-align: center;
    /* border-radius: 1rem; */

}
.topRow {
    display: flex;
    justify-content: center;
    padding:0px;
    margin:0px;
}
.midRow {
    display: flex;
    justify-content: center;
    padding:0px;
    margin:0px;
}
.botRow {
    display: flex;
    justify-content: center;
    padding:0px;
    margin:0px;
}
.retry {
    display: flex;
    justify-content: center;
    border-radius: 1rem;
    
}
.retryBut {
    background-color:rgb(7, 119, 153) ;
    height:2rem;
    width:4rem;
    font-size: 1rem;
    border-radius: 1rem;

}
.retryBut:hover {
    background-color:rgb(7, 98, 126) ;
    cursor: pointer;
}
#displayTime {
    background-color: black;
}

