html {
    margin: 0px;
    padding: 0px;
    border: 0px;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    margin: 0px;
    padding: 0px;
    border: 0px;
    background-color: rgb(24, 24, 24);
    color:rgb(151, 146, 137);
    

}

#background1 {
    
    width: 100%; 
    height: 100%; 
    position:absolute;
    left: 0px; 
    top: 0px; 
    z-index: -1;
}


h1 {
    text-align: center;
}
h2 {
    text-align: center;
}
h3 {
    text-align: center;
    
}
.sequence{
    text-align: center;
}
.edge {
    text-align: center;
    display:inline;
}
.corner {
    text-align: center;
    display:inline;
}
p {
    text-align: center;
}

.green {
    background-color:rgb(144, 238, 144);
}

.yellow {
    background-color:rgb(240,230,140);
}
.dark {
    background-color:rgb(11, 13, 14);
    color:rgb(7, 119, 153);
}
.light {
    background-color:rgb(211, 211, 211);
    color:rgb(0, 0, 0);
}
.red {
    background-color:rgb(238, 144, 144);
    color:rgb(0, 0, 0);
}

.but {
    border-color: rgb(24, 24, 24);
    /* color:rgb(0, 0, 0); */
    
    /* background-color:rgb(144, 238, 144); */
    /* background-color:rgb(240,230,140); */ 
    
    height:5rem;
    width:5rem;
    font-size: 4rem;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    /* border-radius: 1rem; */

}
.but:hover {
    cursor: pointer;

}

.fakebut {

    background-color:rgb(24, 24, 24);
    /* background-color:rgb(144, 238, 144); */
    /* background-color:rgb(240,230,140); */ 
    border-color: rgb(24, 24, 24);
    height:5rem;
    width:5rem;
    font-size: 4rem;
    text-align: center;
    visibility:hidden
    /* border-radius: 1rem; */

}
.topRow {
    display: flex;
    justify-content: center;
    padding:0px;
    margin:0px;
}
.midRow {
    display: flex;
    justify-content: center;
    padding:0px;
    margin:0px;
}
.botRow {
    display: flex;
    justify-content: center;
    padding:0px;
    margin:0px;
}
.retry {
    display: flex;
    justify-content: center;
    border-radius: 1rem;
    
}
.retryBut {
    background-color:rgb(144, 238, 144);
    height:2rem;
    width:4rem;
    font-size: 1rem;
    border-radius: 1rem;

}
.retryBut:hover {
    background-color:rgb(133, 218, 133) ;
    cursor: pointer;
}
#displayTime {
    background-color: black;
}

